:root {
    --light-purple: rgb(171, 122, 197);
    --purple: rgb(98, 15, 143);
    --dark-purple: rgb(43,9,61);
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:var(--dark-purple);
}

button {
    background-color: var(--purple);
    color: white;
    font-size: calc(10px + .1vw);
}

p, li {
    font-size: calc(10px + .25vw);
}

h1 {
    font-size: calc(10px + 1vw);
}

h2 {
    font-size: calc(10px + .75vw);
    padding-left: 5%;
}

h3 {
    font-size: calc(10px + .5vw);
}

button:hover {
    background-color: var(light-purple);
}

li {
    background-color:var(--purple);
    color: white;
    margin: 1vw;
    padding-left: 1vw;
}

#timer {
    position: absolute;
    right: 0%;
    top: 0%;
}

#scoreList:hover {
    color:var(light-purple);
}

.game {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 30%;
    text-align: center;
    background-color: rgb(229, 228, 228);
    filter: drop-shadow(1vw .5vw rgba(43,9,61,.5));

}

.gameScreen {
    text-align: left;
}

ol {
    list-style-type:none;
}