:root {
    --light-purple: rgb(171, 122, 197);
    --purple: rgb(98, 15, 143);
    --dark-purple: rgb(43,9,61);
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:var(--dark-purple);
    padding: 5vw;
}

button {
    background-color: var(--purple);
    color: white;
    font-size: calc(10px + .1vw);
}

p, li {
    font-size: calc(10px + .1vw);
}

h1 {
    font-size: calc(10px + 1vw);
}

h2 {
    font-size: calc(10px + .5vw);
}

h3 {
    font-size: calc(10px + .35vw);
}

button:hover {
    background-color: var(light-purple);
}

.gameScreen li {
    background-color:var(--purple);
    color: white;
    margin: 1vw;
    padding-left: 1vw;
    width: 50vw;
}

.gameScreen li:hover {
    background-color: var(--light-purple);
}

.scoresScreen {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 40vw;
}
.scoresScreen li {
    font-size: 25px;
    background-color:rgb(171, 122, 197);
    width: 20vw;;
    margin-bottom: 1vw;
}

#timer {
    position: absolute;
    right: 5%;
    top: 0%;
}

#scoreList {
    position: absolute;
    left: 5%;
    top: 0%;
}

#scoreList:hover {
    color:var(--light-purple);
}

#result {
    color: gray;
}

.game {
    position: absolute;
    top: 10%;
    left: 12%;
    width: 75vw;
    height: 40%;
    text-align: center;
    padding-left: 2vw;
    padding-top: 2vw;
    background-color: rgb(229, 228, 228);
    filter: drop-shadow(1vw .5vw rgba(43,9,61,.5));

}

.gameScreen {
    text-align: left;
}

ol {
    list-style-type:none;
}